        body { background-color: pink; }

        h1.title1 {
            color: blue;
            text-align: center;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        p.t{
            text-align:center
        }

        a:link    {color:green; background-color:transparent; text-decoration:none}
        
        a:visited {color:blue; background-color:transparent; text-decoration:none}
        
        a:hover   {color:red; background-color:transparent; text-decoration:underline}
        
        a:active  {color:yellow; background-color:transparent; text-decoration:underline}

        fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

