<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAddressBook" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61528/AddressBook.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddressBook" contract="AddressBookTemporaryReference.IAddressBook"
                name="BasicHttpBinding_IAddressBook" />
        </client>
    </system.serviceModel>
</configuration>